<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
		<parameter name="environment" value="qa"></parameter>
		<parameter name="username"
			value="surgeon_priyafour.zeronea@alcon.testinator.com"></parameter>
		<parameter name="password" value="Alcon@2023"></parameter>
		<groups>
			<run>
				<include name="lenstar" />
			</run>
		</groups>
		<classes>
			<class name="lenstar.FhirMeasurementImportWithPidCreation" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
